body {
  box-sizing: border-box; }

*,
::after,
::before {
  box-sizing: inherit;
  outline: none;
  scroll-behavior: smooth; }

html,
body {
  margin: 0;
  padding: 0;
  background: #F7F7F8;
  height: 100%; }

.ovh {
  overflow: hidden; }

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: inherit; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.center_block {
  max-width: 1480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media all and (max-width: 768px) {
    .center_block {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 1450px; } }

img {
  max-width: 100%;
  height: auto; }

textarea {
  resize: none; }

.ovf {
  overflow: hidden; }

/* width */
*::-webkit-scrollbar {
  width: 5px; }

/* Track */
*::-webkit-scrollbar-track {
  background: #000; }

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #F7FF14; }

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #F7FF14; }

@font-face {
  font-family: 'on';
  src: url(../fonts/OpelNext.otf); }

@font-face {
  font-family: 'onb';
  src: url(../fonts/OpelNextBold.otf); }

@font-face {
  font-family: 'onl';
  src: url(../fonts/OpelNextLight.otf); }

.header {
  padding-top: 19px;
  padding-bottom: 19px; }
  @media all and (max-width: 1023px) {
    .header {
      padding-top: 10px;
      padding-bottom: 10px; } }
  .header__in {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logos {
    display: flex;
    align-items: center;
    text-decoration: none; }
  .header__logo {
    display: block;
    text-decoration: none;
    margin-right: 45px; }
    @media all and (max-width: 1023px) {
      .header__logo {
        margin-right: 15px;
        max-width: 28px;
        width: 100%; } }
  .header__name {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .header__name {
        font-size: 12px; } }
  .header__subtit {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .header__subtit {
        font-size: 12px; } }
  .header__contacts {
    margin-left: auto;
    text-align: right; }
    @media all and (max-width: 768px) {
      .header__contacts {
        margin-bottom: 22px;
        text-align: left;
        margin-left: 0; } }
  .header__tel {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .header__tel {
        font-size: 14px; } }
    @media all and (max-width: 768px) {
      .header__tel {
        font-size: 16px; } }
  .header__addr {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .header__addr {
        font-size: 14px; } }
    @media all and (max-width: 768px) {
      .header__addr {
        font-size: 16px; } }
  .header__button {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    border: 1px solid #000000;
    padding: 14px 18px;
    position: relative;
    max-width: 212px;
    width: 100%;
    cursor: pointer;
    margin-left: 68px;
    transition: all .3s ease-out; }
    .header__button:before {
      position: absolute;
      content: '';
      width: 4px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      right: 22px;
      background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/4px no-repeat; }
    .header__button:hover {
      background: #000;
      color: #fff; }
      .header__button:hover:before {
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/4px no-repeat; }
    @media all and (max-width: 1023px) {
      .header__button {
        margin-left: 0;
        max-width: 290px;
        order: 3; } }

.site-panel-wrap {
  order: 3;
  position: relative;
  z-index: 100;
  display: none;
  margin-left: 28px; }
  @media all and (max-width: 1023px) {
    .site-panel-wrap {
      display: block; } }
  .site-panel-wrap .burger-wrap {
    width: 17px;
    height: 17px; }
    .site-panel-wrap .burger-wrap .burger-btn {
      width: 17px;
      height: 17px;
      display: block;
      background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='17' height='3' rx='1.5' fill='black'/%3E%3Crect y='7' width='17' height='3' rx='1.5' fill='black'/%3E%3Crect y='14' width='10' height='3' rx='1.5' fill='black'/%3E%3C/svg%3E%0A") 50% no-repeat;
      cursor: pointer; }
    .site-panel-wrap .burger-wrap .burger-close-btn {
      width: 15px;
      height: 15px;
      top: 0;
      right: 0;
      position: absolute;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.13037' y='0.428711' width='17' height='3' rx='1.5' transform='rotate(45 2.13037 0.428711)' fill='black'/%3E%3Crect width='17' height='3' rx='1.5' transform='matrix(-0.707107 0.707107 0.707107 0.707107 12.021 0.428711)' fill='black'/%3E%3C/svg%3E%0A") 50% no-repeat;
      display: none; }
    .site-panel-wrap .burger-wrap.opened .burger-body {
      left: 0; }
    .site-panel-wrap .burger-wrap.opened .burger-btn {
      display: none; }
    .site-panel-wrap .burger-wrap.opened .burger-close-btn {
      display: block; }
    .site-panel-wrap .burger-wrap .burger-body {
      position: fixed;
      top: 60px;
      left: 100%;
      transition: all .5s;
      width: 100%;
      background: #fff;
      height: calc(100vh - 60px);
      overflow-y: auto;
      padding: 15px 30px;
      display: flex;
      flex-direction: column; }
      @media all and (max-width: 768px) {
        .site-panel-wrap .burger-wrap .burger-body {
          top: 50px; } }

.burger_menu {
  margin-top: 25px;
  margin-bottom: auto; }
  .burger_menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .burger_menu ul li a {
      text-decoration: none;
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #0C0E1F;
      border-bottom: 4px solid #F7FF14;
      padding-bottom: 4px;
      margin-bottom: 20px;
      display: inline-block; }

.footer {
  margin-top: 70px; }
  @media all and (max-width: 1023px) {
    .footer {
      margin-top: 40px; } }
  .footer__top {
    display: flex;
    background: #fff; }
    @media all and (max-width: 768px) {
      .footer__top {
        flex-direction: column; } }
  .footer__l-side {
    width: 483px;
    padding: 83px 71px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    @media all and (max-width: 1023px) {
      .footer__l-side {
        width: 347px;
        padding: 40px 30px; } }
    @media all and (max-width: 768px) {
      .footer__l-side {
        width: 100%;
        padding: 40px 20px; } }
  .footer__logos {
    display: flex;
    align-items: center;
    text-decoration: none; }
  .footer__logo {
    display: block;
    text-decoration: none;
    margin-right: 45px; }
    @media all and (max-width: 1023px) {
      .footer__logo {
        margin-right: 15px;
        max-width: 28px;
        width: 100%; } }
    @media all and (max-width: 768px) {
      .footer__logo {
        max-width: 46px;
        width: 100%;
        margin-right: 20px; } }
  .footer__name {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .footer__name {
        font-size: 12px; } }
    @media all and (max-width: 768px) {
      .footer__name {
        font-size: 19px; } }
  .footer__subtit {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .footer__subtit {
        font-size: 12px; } }
    @media all and (max-width: 768px) {
      .footer__subtit {
        font-size: 14px; } }
  .footer__contacts {
    margin-left: auto; }
    @media all and (max-width: 768px) {
      .footer__contacts {
        margin-top: 35px;
        margin-bottom: 22px;
        text-align: left;
        margin-left: 0; } }
  .footer__tel {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .footer__tel {
        font-size: 14px; } }
    @media all and (max-width: 768px) {
      .footer__tel {
        font-size: 16px; } }
  .footer__addr {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .footer__addr {
        font-size: 14px; } }
    @media all and (max-width: 768px) {
      .footer__addr {
        font-size: 16px; } }
  .footer__button {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    border: 1px solid #000000;
    padding: 14px 18px;
    position: relative;
    max-width: 212px;
    width: 100%;
    cursor: pointer;
    transition: all .3s ease-out; }
    .footer__button:before {
      position: absolute;
      content: '';
      width: 4px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      right: 22px;
      background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/4px no-repeat; }
    .footer__button:hover {
      background: #000;
      color: #fff; }
      .footer__button:hover:before {
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/4px no-repeat; }
    @media all and (max-width: 1023px) {
      .footer__button {
        margin-left: 0;
        max-width: 290px;
        order: 3; } }
  .footer__r-side {
    width: calc(100% - 483px);
    font-size: 0; }
    @media all and (max-width: 1023px) {
      .footer__r-side {
        width: calc(100% - 347px); } }
    @media all and (max-width: 768px) {
      .footer__r-side {
        width: 100%; } }
    @media all and (max-width: 1023px) {
      .footer__r-side iframe {
        height: 311px !important; } }
    @media all and (max-width: 768px) {
      .footer__r-side iframe {
        height: 124px !important; } }
  .footer__bottom {
    padding-bottom: 31px;
    padding-top: 36px;
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #888888; }
    @media all and (max-width: 768px) {
      .footer__bottom {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 28px;
        padding-top: 20px; } }

.checkbox {
  position: absolute;
  bottom: -37px;
  left: 0; }
  @media all and (max-width: 520px) {
    .checkbox {
      bottom: -45px; } }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer; }
  .custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    color: #888888;
    flex-wrap: wrap;
    padding-left: 30px; }
    @media all and (max-width: 768px) {
      .custom-checkbox + label {
        font-size: 13px; } }
    .custom-checkbox + label a {
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #888888;
      display: inline-block;
      margin-left: 3px; }
    .custom-checkbox + label:before {
      content: '';
      display: inline-block;
      width: 22px;
      cursor: pointer;
      position: absolute;
      margin-top: -11px;
      top: 50%;
      left: 0;
      height: 22px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #fff;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%; }
  .custom-checkbox:checked + label:before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.6701 3.03551C1.26016 2.66542 0.62782 2.69773 0.257732 3.10767C-0.112356 3.51762 -0.0800464 4.14996 0.329897 4.52005L1.6701 3.03551ZM3.46154 6L2.79144 6.74227C3.17209 7.08591 3.75099 7.08591 4.13164 6.74227L3.46154 6ZM9.6701 1.74227C10.08 1.37218 10.1124 0.73984 9.74227 0.329897C9.37218 -0.0800464 8.73984 -0.112356 8.3299 0.257732L9.6701 1.74227ZM0.329897 4.52005L2.79144 6.74227L4.13164 5.25773L1.6701 3.03551L0.329897 4.52005ZM4.13164 6.74227L9.6701 1.74227L8.3299 0.257732L2.79144 5.25773L4.13164 6.74227Z' fill='white'/%3E%3C/svg%3E%0A"); }

.form_block {
  margin-top: 70px; }
  @media all and (max-width: 1023px) {
    .form_block {
      margin-top: 40px; } }
  .form_block__in {
    background: url("../img/bg_form.jpg") 50%/cover no-repeat;
    padding: 55px 80px 65px 80px; }
    @media all and (max-width: 1023px) {
      .form_block__in {
        padding: 60px 30px;
        padding-bottom: 74px;
        background: url("../img/bg_mob.jpg") 50%/cover no-repeat; } }
    @media all and (max-width: 768px) {
      .form_block__in {
        padding: 45px 20px;
        padding-bottom: 86px; } }
    @media all and (max-width: 480px) {
      .form_block__in {
        padding-top: 113px;
        background: url("../img/bg_mb.jpg") 0% 0%/100% no-repeat; } }
  .form_block__item {
    margin-left: auto;
    max-width: 738px;
    width: 100%; }
    @media all and (max-width: 1023px) {
      .form_block__item {
        margin-left: 0;
        max-width: 100%; } }
  .form_block__title {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    text-transform: uppercase;
    color: #F7FF14;
    margin-bottom: 8px; }
    @media all and (max-width: 1023px) {
      .form_block__title {
        font-family: 'on', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        text-transform: uppercase;
        color: #F7FF14;
        margin-bottom: 15px; } }
    @media all and (max-width: 768px) {
      .form_block__title {
        font-size: 26px; } }
  .form_block__text {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 40px; }
    @media all and (max-width: 1023px) {
      .form_block__text {
        font-family: 'on', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 35px; } }
    @media all and (max-width: 768px) {
      .form_block__text {
        font-size: 14px;
        margin-bottom: 25px; } }
  .form_block__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 660px;
    width: 100%; }
    @media all and (max-width: 1023px) {
      .form_block__form {
        max-width: 100%; } }
    @media all and (max-width: 768px) {
      .form_block__form {
        flex-direction: column;
        align-items: unset; } }
    .form_block__form input {
      height: 50px; }
      .form_block__form input[type="text"], .form_block__form input[type="tel"] {
        background: #FFFFFF;
        border: 1px solid #E5E6E6;
        padding: 15px 10px;
        font-family: 'on', sans-serif;
        font-style: normal;
        font-weight: 400;
        border: 0;
        border-radius: 0;
        font-size: 16px;
        color: #000000;
        width: calc(33.3% - 5px); }
        .form_block__form input[type="text"]::placeholder, .form_block__form input[type="tel"]::placeholder {
          font-family: 'on', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #000000; }
        @media all and (max-width: 768px) {
          .form_block__form input[type="text"], .form_block__form input[type="tel"] {
            width: 100%;
            margin-bottom: 12px; } }
    .form_block__form button[type="submit"] {
      background: transparent;
      cursor: pointer;
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 700;
      width: calc(33.3% - 5px);
      font-size: 16px;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      padding: 14px 18px;
      text-align: left;
      position: relative;
      transition: all .3s ease-out; }
      .form_block__form button[type="submit"]:before {
        content: '';
        width: 4px;
        height: 8px;
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/100% no-repeat;
        top: 50%;
        right: 18px;
        position: absolute;
        margin-top: -4px; }
      .form_block__form button[type="submit"]:hover {
        background: #fff;
        color: #000; }
        .form_block__form button[type="submit"]:hover:before {
          background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }
      @media all and (max-width: 768px) {
        .form_block__form button[type="submit"] {
          width: 100%; } }

.frst_block {
  margin-bottom: 60px;
  margin-top: 10px; }
  @media all and (max-width: 1023px) {
    .frst_block {
      margin-bottom: 25px; } }
  .frst_block__item {
    background: url("../img/cars.png") calc(100% - 79px) 72%/50% no-repeat, url("../img/bg_frst.jpg") 50%/cover no-repeat;
    min-height: 400px;
    padding: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media all and (max-width: 1023px) {
      .frst_block__item {
        padding: 50px 60px;
        min-height: 0;
        background: url("../img/cars.png") calc(100% - 155px) 82%/36% no-repeat, url("../img/bg_frst.jpg") 50%/cover no-repeat; } }
    @media all and (max-width: 768px) {
      .frst_block__item {
        padding: 0;
        padding-top: 150px;
        background: #000 url("../img/bg_fr.png") 100% 0% no-repeat; } }
  @media all and (max-width: 768px) {
    .frst_block__info {
      padding: 20px;
      padding-top: 15px;
      background: #000; } }
  .frst_block__title {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    max-width: 565px;
    line-height: 95%;
    width: 100%;
    margin-bottom: 26px; }
    .frst_block__title:before {
      content: '';
      position: absolute;
      width: 37px;
      top: 50%;
      height: 33px;
      background: url("data:image/svg+xml,%3Csvg width='37' height='33' viewBox='0 0 37 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4133 16.4893H36.8316L24.4183 32.9786H0L12.4133 16.4893Z' fill='%23F7FF14'/%3E%3Cpath d='M24.4182 0H-0.000106812L12.4132 16.4893H36.8315L24.4182 0Z' fill='%23F7FF14'/%3E%3C/svg%3E%0A") 50%/100% no-repeat;
      margin-top: -41.5px;
      left: -55px; }
      @media all and (max-width: 1023px) {
        .frst_block__title:before {
          width: 21px;
          height: 19px;
          left: -32px;
          margin-top: -24.5px; } }
      @media all and (max-width: 768px) {
        .frst_block__title:before {
          display: none; } }
    @media all and (max-width: 1023px) {
      .frst_block__title {
        font-size: 30px;
        margin-bottom: 9px; } }
    @media all and (max-width: 768px) {
      .frst_block__title {
        margin-bottom: 15px;
        font-size: 26px; } }
  .frst_block__text {
    max-width: 565px;
    width: 100%;
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF; }
    @media all and (max-width: 1023px) {
      .frst_block__text {
        font-size: 16px; } }

.block_prod__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px; }
  @media all and (max-width: 1180px) {
    .block_prod__top {
      flex-wrap: wrap; } }
  @media all and (max-width: 1023px) {
    .block_prod__top {
      margin-bottom: 30px; } }
  @media all and (max-width: 768px) {
    .block_prod__top {
      flex-direction: column;
      margin-bottom: 20px; } }

.block_prod__title {
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #000000;
  margin-right: 34px; }
  @media all and (max-width: 1180px) {
    .block_prod__title {
      width: 100%;
      margin-bottom: 13px;
      margin-right: 0; } }
  @media all and (max-width: 1023px) {
    .block_prod__title {
      font-size: 40px; } }
  @media all and (max-width: 768px) {
    .block_prod__title {
      font-size: 28px;
      margin-bottom: 15px; } }

.block_prod__prc {
  margin-right: auto;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E5E6E6;
  border-radius: 0;
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 10px;
  padding-right: 45px;
  line-height: normal;
  position: relative;
  max-width: 220px;
  width: 100%; }
  @media all and (max-width: 1180px) {
    .block_prod__prc {
      max-width: calc(33.3% - 7.5px); } }
  @media all and (max-width: 768px) {
    .block_prod__prc {
      max-width: 100%;
      margin-bottom: 8px; } }

.block_prod__model {
  margin-right: 16px;
  height: 40px;
  max-width: 220px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E5E6E6;
  border-radius: 0;
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 10px;
  padding-right: 45px;
  line-height: normal;
  position: relative; }
  @media all and (max-width: 1180px) {
    .block_prod__model {
      max-width: calc(33.3% - 7.5px); } }
  @media all and (max-width: 768px) {
    .block_prod__model {
      max-width: 100%;
      margin-bottom: 8px; } }

.block_prod__mods {
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E5E6E6;
  border-radius: 0;
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  max-width: 220px;
  width: 100%;
  padding: 10px;
  padding-right: 45px;
  line-height: normal;
  position: relative; }
  @media all and (max-width: 1180px) {
    .block_prod__mods {
      max-width: calc(33.3% - 7.5px); } }
  @media all and (max-width: 768px) {
    .block_prod__mods {
      max-width: 100%;
      margin-right: auto; } }

.block_prod .nice-select:after {
  display: none; }

.block_prod .nice-select:before {
  position: absolute;
  content: '';
  width: 8px;
  display: block !important;
  height: 6px;
  background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/100% no-repeat;
  border: 0;
  right: 10px;
  top: 50%;
  margin-top: -3px; }

.block_prod .nice-select .list {
  margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid #E5E6E6;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.09);
  border-radius: 0;
  width: 100%;
  transform: scale(1.01) translateY(0);
  padding: 10px; }

.block_prod .nice-select .option {
  position: relative;
  padding: 0;
  margin-bottom: 8px;
  background: none !important;
  padding-left: 31px;
  font-weight: normal !important;
  font-family: 'on', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  display: flex;
  align-items: center;
  white-space: break-spaces; }
  .block_prod .nice-select .option:before {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    border: 1px solid #E5E6E6;
    margin-top: -11px;
    transition: all .3s ease-out;
    left: 0;
    top: 50%; }

.block_prod .nice-select .option.selected:before {
  border-color: #000;
  background: #000 url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.6701 3.03551C1.26016 2.66542 0.62782 2.69773 0.257732 3.10767C-0.112356 3.51762 -0.0800464 4.14996 0.329897 4.52005L1.6701 3.03551ZM3.46154 6L2.79144 6.74227C3.17209 7.08591 3.75099 7.08591 4.13164 6.74227L3.46154 6ZM9.6701 1.74227C10.08 1.37218 10.1124 0.73984 9.74227 0.329897C9.37218 -0.0800464 8.73984 -0.112356 8.3299 0.257732L9.6701 1.74227ZM0.329897 4.52005L2.79144 6.74227L4.13164 5.25773L1.6701 3.03551L0.329897 4.52005ZM4.13164 6.74227L9.6701 1.74227L8.3299 0.257732L2.79144 5.25773L4.13164 6.74227Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat; }

.block_prod__prods {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap; }
  @media all and (max-width: 768px) {
    .block_prod__prods {
      margin-left: -7.5px;
      margin-right: -7.5px; } }
  @media all and (max-width: 640px) {
    .block_prod__prods {
      margin-left: 0;
      margin-right: 0; } }

.block_prod__prod {
  background: #FFFFFF;
  padding: 30px;
  width: calc(25% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px; }
  @media all and (max-width: 1200px) {
    .block_prod__prod {
      width: calc(33.3% - 30px); } }
  @media all and (max-width: 1023px) {
    .block_prod__prod {
      width: calc(50% - 30px); } }
  @media all and (max-width: 768px) {
    .block_prod__prod {
      margin-left: 7.5px;
      margin-right: 7.5px;
      width: calc(50% - 15px);
      margin-bottom: 15px; } }
  @media all and (max-width: 640px) {
    .block_prod__prod {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  .block_prod__prod.hide {
    display: none; }
  .block_prod__prod.isActive {
    display: block !important; }

.block_prod__tit {
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 7px; }

.block_prod__stock {
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #888888;
  padding-left: 13px;
  position: relative; }
  .block_prod__stock:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 50%;
    margin-top: -3px;
    left: 0;
    background: #17D741;
    position: absolute; }
  .block_prod__stock.no_stock:before {
    background: red; }

.block_prod__img {
  margin-top: -16px;
  margin-bottom: 24px; }
  .block_prod__img img {
    width: 100%; }
  @media all and (max-width: 768px) {
    .block_prod__img {
      margin-bottom: 9px; } }

.block_prod__opt {
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #888888;
  margin-bottom: 13px; }

.block_prod__prices {
  display: flex;
  justify-content: space-between; }

.block_prod__price {
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  width: 50%; }
  .block_prod__price span {
    font-weight: 400;
    font-size: 13px;
    display: block;
    color: #888888; }

.block_prod__link {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  border: 1px solid #000000;
  padding: 9px 18px;
  transition: all .3s ease-out;
  position: relative; }
  .block_prod__link:before {
    content: '';
    width: 4px;
    height: 8px;
    margin-top: -4px;
    top: 50%;
    right: 18px;
    position: absolute;
    background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }
  .block_prod__link:hover {
    background: #000;
    color: #fff; }
    .block_prod__link:hover:before {
      background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }

.block_prod__show div {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  max-width: 212px;
  width: 100%;
  background: #E5E6E6;
  padding: 15px;
  text-align: center;
  font-family: 'on', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  transition: all .3s ease-out; }
  .block_prod__show div:hover {
    background: #ADADB0; }
  @media all and (max-width: 640px) {
    .block_prod__show div {
      max-width: 100%; } }

.form-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  padding: 15px; }
  .form-wrapper.opened {
    opacity: 1;
    visibility: visible; }
  .form-wrapper .form-wrapper-inner {
    max-width: 453px;
    width: 100%;
    background: #fff;
    padding: 50px;
    padding-bottom: 89px;
    position: relative; }
    @media all and (max-width: 1023px) {
      .form-wrapper .form-wrapper-inner {
        padding: 25px 20px;
        padding-bottom: 76px; } }
  .form-wrapper__title {
    margin-bottom: 24px;
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .form-wrapper__title {
        margin-bottom: 22px;
        font-size: 26px; } }
  .form-wrapper__form {
    position: relative; }
    .form-wrapper__form input {
      height: 50px; }
      .form-wrapper__form input[type="text"], .form-wrapper__form input[type="tel"] {
        background: #FFFFFF;
        border: 0;
        border: 1px solid #E5E6E6;
        padding: 15px 10px;
        font-family: 'on', sans-serif;
        font-style: normal;
        font-weight: 400;
        border-radius: 0;
        font-size: 16px;
        color: #000000;
        width: 100%;
        margin-bottom: 12px; }
        .form-wrapper__form input[type="text"]::placeholder, .form-wrapper__form input[type="tel"]::placeholder {
          font-family: 'on', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #000000; }
        @media all and (max-width: 768px) {
          .form-wrapper__form input[type="text"], .form-wrapper__form input[type="tel"] {
            width: 100%;
            margin-bottom: 12px; } }
    .form-wrapper__form button[type="submit"] {
      background: transparent;
      cursor: pointer;
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 700;
      width: 100%;
      font-size: 16px;
      color: #FFFFFF;
      border: 1px solid #000;
      padding: 14px 18px;
      background: #000;
      text-align: left;
      position: relative;
      transition: all .3s ease-out;
      margin-bottom: 19px; }
      .form-wrapper__form button[type="submit"]:before {
        content: '';
        width: 4px;
        height: 8px;
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/100% no-repeat;
        top: 50%;
        right: 18px;
        position: absolute;
        margin-top: -4px; }
      .form-wrapper__form button[type="submit"]:hover {
        background: #888888;
        border-color: #888888; }
      @media all and (max-width: 768px) {
        .form-wrapper__form button[type="submit"] {
          width: 100%; } }
    .form-wrapper__form .custom-checkbox + label:before {
      border-color: #000; }
    .form-wrapper__form .custom-checkbox:checked + label:before {
      background-color: #000; }
    @media all and (max-width: 1023px) {
      .form-wrapper__form .checkbox {
        bottom: -30px !important;
        max-width: 300px;
        width: 100%; } }
  .form-wrapper .icon-close {
    position: absolute;
    right: 20px;
    z-index: 2;
    top: 20px;
    background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.000488281' y='12.7485' width='18.0293' height='3.18164' transform='rotate(-45 0.000488281 12.7485)' fill='%2385868B'/%3E%3Crect width='18.0293' height='3.18164' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 14.9984 12.7485)' fill='%2385868B'/%3E%3C/svg%3E%0A") 50% no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: all .3s ease-out; }
    @media all and (max-width: 1023px) {
      .form-wrapper .icon-close {
        top: 36px; } }
    .form-wrapper .icon-close:hover {
      background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.000488281' y='12.7485' width='18.0293' height='3.18164' transform='rotate(-45 0.000488281 12.7485)' fill='%23000000'/%3E%3Crect width='18.0293' height='3.18164' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 14.9984 12.7485)' fill='%23000000'/%3E%3C/svg%3E%0A") 50% no-repeat; }

.prod_spec {
  margin-top: 40px; }
  .prod_spec__title {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    margin-bottom: 53px;
    padding-right: 95px; }
    @media all and (max-width: 1023px) {
      .prod_spec__title {
        font-size: 40px;
        margin-bottom: 20px; } }
    @media all and (max-width: 768px) {
      .prod_spec__title {
        font-size: 28px;
        line-height: 35px;
        padding-right: 65px; } }
  .prod_spec .slick-list {
    margin-left: -15px;
    margin-right: -15px; }
    @media all and (max-width: 1023px) {
      .prod_spec .slick-list {
        margin-left: -7.5px;
        margin-right: -7.5px; } }
    @media all and (max-width: 640px) {
      .prod_spec .slick-list {
        margin-left: 0;
        margin-right: 0; } }
  .prod_spec .block_prod__prod {
    margin-bottom: 0; }
  .prod_spec__in {
    position: relative; }
  .prod_spec .slick-prev {
    left: unset;
    transform: unset;
    right: 49px;
    top: -102px;
    width: 43px;
    z-index: 2;
    height: 43px;
    background: #fff url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13L1 7L7 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
    font-size: 0;
    transition: all .3s ease-out; }
    .prod_spec .slick-prev:before {
      display: none; }
    .prod_spec .slick-prev:hover {
      background: #000 url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13L1 7L7 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat; }
    @media all and (max-width: 1023px) {
      .prod_spec .slick-prev {
        top: -65px; } }
    @media all and (max-width: 768px) {
      .prod_spec .slick-prev {
        width: 30px;
        height: 30px;
        right: 35px;
        top: -55px; } }
  .prod_spec .slick-next {
    left: unset;
    transform: unset;
    right: 0px;
    top: -102px;
    width: 43px;
    z-index: 2;
    height: 43px;
    background: #fff url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L0.999999 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
    font-size: 0;
    transition: all .3s ease-out; }
    .prod_spec .slick-next:before {
      display: none; }
    .prod_spec .slick-next:hover {
      background: #000 url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L0.999999 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat; }
    @media all and (max-width: 1023px) {
      .prod_spec .slick-next {
        top: -65px; } }
    @media all and (max-width: 768px) {
      .prod_spec .slick-next {
        width: 30px;
        height: 30px;
        right: 0px;
        top: -55px; } }

.review {
  margin-top: 35px; }
  .review__tabs {
    margin-bottom: 30px; }
    @media all and (max-width: 768px) {
      .review__tabs {
        margin-bottom: 23px; } }
    .review__tabs ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center; }
  .review__btn {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    color: #000000;
    padding: 5px 0;
    border-bottom: 8px solid transparent; }
    .review__btn:not(:last-child) {
      margin-right: 40px; }
    .review__btn.isActive {
      border-color: #F7FF14; }
  .review__block {
    display: none; }
    .review__block:first-child {
      display: block; }

.optin_blocks {
  display: flex;
  justify-content: space-between; }
  @media all and (max-width: 1023px) {
    .optin_blocks {
      flex-direction: column; } }
  .optin_blocks > div {
    width: calc(50% - 15px); }
    @media all and (max-width: 1023px) {
      .optin_blocks > div {
        width: 100%; } }
  .optin_blocks__block {
    margin-bottom: 30px;
    background: #FFFFFF; }
    @media all and (max-width: 1023px) {
      .optin_blocks__block {
        margin-bottom: 15px; }
        .optin_blocks__block.isActive .optin_blocks__list {
          display: block; } }
  .optin_blocks__title {
    padding: 13px 17px;
    border-bottom: 1px solid #E5E6E6;
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .optin_blocks__title {
        position: relative;
        cursor: pointer;
        padding-right: 35px; }
        .optin_blocks__title:before {
          position: absolute;
          content: '';
          width: 8px;
          height: 4px;
          top: 50%;
          right: 23px;
          margin-top: -2px;
          background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }
        .optin_blocks__title.isActive:before {
          transform: rotate(180deg); } }
    @media all and (max-width: 768px) {
      .optin_blocks__title {
        font-size: 14px; } }
  .optin_blocks__list {
    padding: 20px;
    padding-top: 14px; }
    @media all and (max-width: 1023px) {
      .optin_blocks__list {
        display: none;
        padding: 17px;
        padding-top: 14px; } }
  .optin_blocks__item {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .optin_blocks__item:not(:last-child) {
      margin-bottom: 5px; }
    @media all and (max-width: 768px) {
      .optin_blocks__item {
        flex-direction: column;
        align-items: flex-start; } }
  .optin_blocks__l {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 768px) {
      .optin_blocks__l {
        font-size: 14px; } }
  .optin_blocks__r {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #000000; }
    @media all and (max-width: 768px) {
      .optin_blocks__r {
        font-size: 14px;
        text-align: left; } }

.opt_img {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  @media all and (max-width: 1023px) {
    .opt_img {
      margin-left: -7.5px;
      margin-right: -7.5px; } }
  @media all and (max-width: 768px) {
    .opt_img {
      margin-left: 0;
      margin-right: 0; } }
  .opt_img__img {
    width: calc(16.6% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px; }
    @media all and (max-width: 1023px) {
      .opt_img__img {
        margin-left: 7.5px;
        margin-right: 7.5px;
        width: calc(25% - 15px); } }
    @media all and (max-width: 1023px) {
      .opt_img__img {
        margin-left: 7.5px;
        margin-right: 7.5px;
        width: calc(25% - 15px); } }
    @media all and (max-width: 768px) {
      .opt_img__img {
        width: 270px;
        height: 164px;
        margin-right: 10px;
        margin-bottom: 0; }
        .opt_img__img img {
          width: 100%;
          height: 100%;
          object-fit: cover; } }

.sl_card {
  display: flex !important; }
  @media all and (max-width: 680px) {
    .sl_card {
      flex-direction: column; } }
  .sl_card__l-side {
    max-width: 410px;
    width: 100%;
    position: relative; }
    @media all and (max-width: 1023px) {
      .sl_card__l-side {
        max-width: 260px; } }
  .sl_card__stock {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #888888;
    position: relative;
    padding-left: 13px; }
    .sl_card__stock:before {
      content: '';
      top: 50%;
      left: 0;
      position: absolute;
      border-radius: 50%;
      background: #17D741;
      width: 6px;
      height: 6px;
      margin-top: -3px; }
  .sl_card__title {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 98.1%;
    color: #000000;
    margin-bottom: 30px; }
    @media all and (max-width: 1023px) {
      .sl_card__title {
        font-size: 30px;
        margin-bottom: 22px; } }
    @media all and (max-width: 680px) {
      .sl_card__title {
        margin-bottom: 15px;
        font-size: 26px;
        margin-top: 5px; } }
  .sl_card__prc {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    .sl_card__prc span {
      display: inline-block;
      color: #000000;
      background: #F7FF14;
      border-radius: 17px;
      padding: 1px 6px; }
    @media all and (max-width: 1023px) {
      .sl_card__prc {
        font-size: 12px; } }
  .sl_card__prc_bl {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #000000;
    margin-bottom: 30px; }
    @media all and (max-width: 1023px) {
      .sl_card__prc_bl {
        font-size: 22px; } }
    @media all and (max-width: 680px) {
      .sl_card__prc_bl {
        margin-bottom: 12px; } }
  .sl_card__pref {
    position: relative;
    padding-left: 62px;
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    flex-direction: column;
    display: flex; }
    @media all and (max-width: 1023px) {
      .sl_card__pref {
        font-size: 15px;
        padding-left: 33px;
        margin-bottom: 0; } }
    .sl_card__pref span {
      font-size: 16px;
      color: #888888;
      text-transform: unset; }
      @media all and (max-width: 1023px) {
        .sl_card__pref span {
          font-size: 11px; } }
    .sl_card__pref:before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      width: 39px;
      height: 39px;
      margin-top: -19.5px;
      background: url("data:image/svg+xml,%3Csvg width='41' height='38' viewBox='0 0 41 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='19' cy='19' r='16.5' stroke='%23F7FF14' stroke-width='5'/%3E%3Cpath d='M14.4395 16.1457L22.1408 24.3204L38.7595 8.36035' stroke='black' stroke-width='5'/%3E%3C/svg%3E%0A") 50% no-repeat; }
      @media all and (max-width: 1023px) {
        .sl_card__pref:before {
          width: 25px;
          height: 25px;
          background-size: 100%;
          margin-top: -12.5px; } }
    .sl_card__pref:not(:last-child) {
      margin-bottom: 22px; }
      @media all and (max-width: 1023px) {
        .sl_card__pref:not(:last-child) {
          margin-bottom: 15px; } }
    @media all and (max-width: 1023px) {
      .sl_card__pref:nth-child(3) {
        margin-bottom: 0 !important; } }
  .sl_card__r-side {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 410px); }
    @media all and (max-width: 1023px) {
      .sl_card__r-side {
        width: calc(100% - 260px); } }
  .sl_card__sl_img {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    z-index: 2; }
  .sl_card__options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 350px;
    width: 100%; }
    @media all and (max-width: 1023px) {
      .sl_card__options {
        max-width: 280px; } }
  .sl_card__option {
    width: 50%; }
    .sl_card__option:nth-child(1), .sl_card__option:nth-child(2) {
      margin-bottom: 16px; }
  .sl_card__opt {
    display: flex;
    align-items: center; }
  .sl_card__icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    flex: 0 0 30px; }
    @media all and (max-width: 1023px) {
      .sl_card__icon {
        width: 25px;
        height: 25px;
        flex: 0 0 25px;
        margin-right: 15px; } }
  .sl_card__opt_info {
    width: 100%; }
  .sl_card__t {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .sl_card__t {
        font-size: 11px; } }
  .sl_card__b {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000; }
    @media all and (max-width: 1023px) {
      .sl_card__b {
        font-size: 13px; } }

.card_top {
  display: flex;
  justify-content: space-between; }
  @media all and (max-width: 1380px) {
    .card_top {
      flex-direction: column; } }
  .card_top__l-side {
    width: calc(100% - 392px);
    padding: 35px 40px;
    background: #fff url("data:image/svg+xml,%3Csvg width='531' height='480' viewBox='0 0 531 480' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M352.038 240H0L178.962 480H531L352.038 240Z' fill='%23F7FF14'/%3E%3Cpath d='M178.962 0H531L352.038 240H0L178.962 0Z' fill='%23F7FF14'/%3E%3C/svg%3E%0A") calc(100% - 107px) 50%/contain no-repeat; }
    @media all and (max-width: 1380px) {
      .card_top__l-side {
        width: 100%; } }
    @media all and (max-width: 1023px) {
      .card_top__l-side {
        padding: 30px;
        padding-top: 14px; } }
    @media all and (max-width: 680px) {
      .card_top__l-side {
        padding: 20px;
        padding-top: 14px;
        background: #fff;
        display: flex;
        flex-wrap: wrap; } }
  .card_top__r-side {
    width: 362px;
    background: #fff;
    padding: 35px 40px;
    padding-bottom: 92px; }
    @media all and (max-width: 1380px) {
      .card_top__r-side {
        width: 100%;
        margin-top: 15px;
        padding: 25px 20px;
        padding-bottom: 72px;
        display: flex;
        flex-wrap: wrap; } }
  @media all and (max-width: 1380px) {
    .card_top__txt {
      width: calc(100% - 282px); } }
  @media all and (max-width: 768px) {
    .card_top__txt {
      width: 100%;
      margin-bottom: 20px; } }
  .card_top__title {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    color: #000000; }
    @media all and (max-width: 768px) {
      .card_top__title {
        font-size: 26px; } }
  .card_top__subtitle {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #000000;
    margin-bottom: 25px; }
    @media all and (max-width: 1380px) {
      .card_top__subtitle {
        margin-bottom: 0; } }
    @media all and (max-width: 768px) {
      .card_top__subtitle {
        font-size: 18px; } }
  .card_top__date {
    margin-bottom: 20px; }
    @media all and (max-width: 1380px) {
      .card_top__date {
        width: 282px;
        margin-bottom: 0; } }
    @media all and (max-width: 768px) {
      .card_top__date {
        width: 100%; } }
    .card_top__date.is-countdown {
      border: 0;
      background: none; }
    .card_top__date .countdown-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -11px;
      margin-right: -11px;
      width: calc(100% + 22px); }
    .card_top__date .countdown-section {
      text-align: center;
      display: block;
      width: 100%;
      margin-left: 5.5px;
      margin-right: 5.5px; }
    .card_top__date .countdown-amount {
      width: 54px;
      height: 51px;
      background: #F7FF14;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      color: #000000;
      margin: 0 auto;
      margin-bottom: 6px; }
    .card_top__date .countdown-period {
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #000000; }
  .card_top__form {
    position: relative; }
    @media all and (max-width: 1380px) {
      .card_top__form {
        width: 100%;
        margin-top: 17px; } }
    @media all and (max-width: 1380px) and (min-width: 769px) {
      .card_top__form {
        display: flex;
        align-items: center;
        justify-content: space-between; } }
    .card_top__form input {
      height: 50px; }
      .card_top__form input[type="text"], .card_top__form input[type="tel"] {
        background: #FFFFFF;
        border: 0;
        border: 1px solid #E5E6E6;
        padding: 15px 10px;
        font-family: 'on', sans-serif;
        font-style: normal;
        font-weight: 400;
        border-radius: 0;
        font-size: 16px;
        color: #000000;
        width: 100%;
        margin-bottom: 12px; }
        .card_top__form input[type="text"]::placeholder, .card_top__form input[type="tel"]::placeholder {
          font-family: 'on', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #000000; }
        @media all and (max-width: 1380px) and (min-width: 769px) {
          .card_top__form input[type="text"], .card_top__form input[type="tel"] {
            width: calc(33.3% - 5px);
            margin-bottom: 0; } }
        @media all and (max-width: 768px) {
          .card_top__form input[type="text"], .card_top__form input[type="tel"] {
            width: 100%;
            margin-bottom: 12px; } }
    .card_top__form button[type="submit"] {
      background: transparent;
      cursor: pointer;
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 700;
      width: 100%;
      font-size: 16px;
      color: #FFFFFF;
      border: 1px solid #000;
      padding: 14px 18px;
      background: #000;
      text-align: left;
      position: relative;
      transition: all .3s ease-out;
      margin-bottom: 19px; }
      .card_top__form button[type="submit"]:before {
        content: '';
        width: 4px;
        height: 8px;
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/100% no-repeat;
        top: 50%;
        right: 18px;
        position: absolute;
        margin-top: -4px; }
      .card_top__form button[type="submit"]:hover {
        background: #888888;
        border-color: #888888; }
      @media all and (max-width: 1380px) and (min-width: 769px) {
        .card_top__form button[type="submit"] {
          width: calc(33.3% - 5px);
          margin-bottom: 0; } }
      @media all and (max-width: 768px) {
        .card_top__form button[type="submit"] {
          width: 100%; } }
    .card_top__form .custom-checkbox + label:before {
      border-color: #000; }
    .card_top__form .custom-checkbox:checked + label:before {
      background-color: #000; }
    @media all and (max-width: 1023px) {
      .card_top__form .checkbox {
        bottom: -50px !important;
        max-width: 300px;
        width: 100%; } }
  .card_top__colors {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    max-width: 170px;
    width: 100%; }
    .card_top__colors .slick-list {
      overflow: unset; }
    .card_top__colors .slick-track {
      transform: unset !important;
      display: flex; }
    @media all and (max-width: 1023px) {
      .card_top__colors {
        max-width: 140px; } }
  .card_top__color {
    cursor: pointer; }
    @media all and (max-width: 1023px) {
      .card_top__color {
        width: 22px !important;
        height: 22px;
        margin-right: 7px; } }
    .card_top__color span {
      position: absolute;
      top: -24px;
      left: 0;
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      display: none;
      pointer-events: none;
      color: #000000; }
    .card_top__color div {
      border-radius: 50%;
      width: 27px;
      border: 2px solid #F7F7F8;
      height: 27px;
      position: relative; }
      @media all and (max-width: 1023px) {
        .card_top__color div {
          width: 22px;
          height: 22px; } }
    .card_top__color:first-child span {
      display: block; }
    .card_top__color:first-child div:before {
      display: block;
      width: 12px;
      height: 12px;
      content: '';
      position: absolute;
      top: -6px;
      right: -3px;
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' fill='%23F7FF14'/%3E%3Cpath d='M3.69364 5.5019C3.29582 5.11881 2.66277 5.13076 2.27968 5.52858C1.89659 5.9264 1.90854 6.55945 2.30636 6.94254L3.69364 5.5019ZM4.84615 8L4.15251 8.72032C4.53976 9.09323 5.15255 9.09323 5.5398 8.72032L4.84615 8ZM9.69364 4.72032C10.0915 4.33723 10.1034 3.70418 9.72032 3.30636C9.33723 2.90854 8.70418 2.89659 8.30636 3.27968L9.69364 4.72032ZM2.30636 6.94254L4.15251 8.72032L5.5398 7.27968L3.69364 5.5019L2.30636 6.94254ZM5.5398 8.72032L9.69364 4.72032L8.30636 3.27968L4.15251 7.27968L5.5398 8.72032Z' fill='black'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }
    .card_top__color:first-child.slick-active span {
      display: none; }
    .card_top__color:first-child.slick-active div:before {
      display: none;
      width: 12px;
      height: 12px;
      content: '';
      position: absolute;
      top: -6px;
      right: -3px;
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' fill='%23F7FF14'/%3E%3Cpath d='M3.69364 5.5019C3.29582 5.11881 2.66277 5.13076 2.27968 5.52858C1.89659 5.9264 1.90854 6.55945 2.30636 6.94254L3.69364 5.5019ZM4.84615 8L4.15251 8.72032C4.53976 9.09323 5.15255 9.09323 5.5398 8.72032L4.84615 8ZM9.69364 4.72032C10.0915 4.33723 10.1034 3.70418 9.72032 3.30636C9.33723 2.90854 8.70418 2.89659 8.30636 3.27968L9.69364 4.72032ZM2.30636 6.94254L4.15251 8.72032L5.5398 7.27968L3.69364 5.5019L2.30636 6.94254ZM5.5398 8.72032L9.69364 4.72032L8.30636 3.27968L4.15251 7.27968L5.5398 8.72032Z' fill='black'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }
    .card_top__color.slick-current.slick-active span {
      display: block !important; }
    .card_top__color.slick-current.slick-active div:before {
      display: block !important;
      width: 12px;
      height: 12px;
      content: '';
      position: absolute;
      top: -6px;
      right: -3px;
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' fill='%23F7FF14'/%3E%3Cpath d='M3.69364 5.5019C3.29582 5.11881 2.66277 5.13076 2.27968 5.52858C1.89659 5.9264 1.90854 6.55945 2.30636 6.94254L3.69364 5.5019ZM4.84615 8L4.15251 8.72032C4.53976 9.09323 5.15255 9.09323 5.5398 8.72032L4.84615 8ZM9.69364 4.72032C10.0915 4.33723 10.1034 3.70418 9.72032 3.30636C9.33723 2.90854 8.70418 2.89659 8.30636 3.27968L9.69364 4.72032ZM2.30636 6.94254L4.15251 8.72032L5.5398 7.27968L3.69364 5.5019L2.30636 6.94254ZM5.5398 8.72032L9.69364 4.72032L8.30636 3.27968L4.15251 7.27968L5.5398 8.72032Z' fill='black'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }
