@charset "UTF-8";
body {
  box-sizing: border-box; }

*,
::after,
::before {
  box-sizing: inherit;
  outline: none;
  scroll-behavior: smooth; }

html,
body {
  margin: 0;
  padding: 0;
  background: #F7F7F8;
  height: 100%; }

.ovh {
  overflow: hidden; }

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: inherit; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.center_block {
  max-width: 1450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

img {
  max-width: 100%;
  height: auto; }

textarea {
  resize: none; }

.ovf {
  overflow: hidden; }

@font-face {
  font-family: 'on';
  src: url(../fonts/OpelNext.otf); }

@font-face {
  font-family: 'onb';
  src: url(../fonts/OpelNextBold.otf); }

@font-face {
  font-family: 'onl';
  src: url(../fonts/OpelNextLight.otf); }

.header {
  padding-top: 19px;
  padding-bottom: 19px; }
  @media all and (max-width: 1023px) {
    .header {
      padding-top: 10px;
      padding-bottom: 10px; } }
  .header__in {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logos {
    display: flex;
    align-items: center;
    text-decoration: none; }
  .header__logo {
    display: block;
    text-decoration: none;
    margin-right: 45px; }
    @media all and (max-width: 1023px) {
      .header__logo {
        margin-right: 15px;
        max-width: 28px;
        width: 100%; } }
  .header__name {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .header__name {
        font-size: 12px; } }
  .header__subtit {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .header__subtit {
        font-size: 12px; } }
  .header__contacts {
    margin-left: auto;
    text-align: right; }
    @media all and (max-width: 768px) {
      .header__contacts {
        margin-bottom: 22px;
        text-align: left;
        margin-left: 0; } }
  .header__tel {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .header__tel {
        font-size: 14px; } }
    @media all and (max-width: 768px) {
      .header__tel {
        font-size: 16px; } }
  .header__addr {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .header__addr {
        font-size: 14px; } }
    @media all and (max-width: 768px) {
      .header__addr {
        font-size: 16px; } }
  .header__button {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    border: 1px solid #000000;
    padding: 14px 18px;
    position: relative;
    max-width: 212px;
    width: 100%;
    cursor: pointer;
    margin-left: 68px;
    transition: all .3s ease-out; }
    .header__button:before {
      position: absolute;
      content: '';
      width: 4px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      right: 22px;
      background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/4px no-repeat; }
    .header__button:hover {
      background: #000;
      color: #fff; }
      .header__button:hover:before {
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/4px no-repeat; }
    @media all and (max-width: 1023px) {
      .header__button {
        margin-left: 0;
        max-width: 290px;
        order: 3; } }

.site-panel-wrap {
  order: 3;
  position: relative;
  z-index: 100;
  display: none;
  margin-left: 28px; }
  @media all and (max-width: 1023px) {
    .site-panel-wrap {
      display: block; } }
  .site-panel-wrap .burger-wrap {
    width: 17px;
    height: 17px; }
    .site-panel-wrap .burger-wrap .burger-btn {
      width: 17px;
      height: 17px;
      display: block;
      background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='17' height='3' rx='1.5' fill='black'/%3E%3Crect y='7' width='17' height='3' rx='1.5' fill='black'/%3E%3Crect y='14' width='10' height='3' rx='1.5' fill='black'/%3E%3C/svg%3E%0A") 50% no-repeat;
      cursor: pointer; }
    .site-panel-wrap .burger-wrap .burger-close-btn {
      width: 15px;
      height: 15px;
      top: 0;
      right: 0;
      position: absolute;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.13037' y='0.428711' width='17' height='3' rx='1.5' transform='rotate(45 2.13037 0.428711)' fill='black'/%3E%3Crect width='17' height='3' rx='1.5' transform='matrix(-0.707107 0.707107 0.707107 0.707107 12.021 0.428711)' fill='black'/%3E%3C/svg%3E%0A") 50% no-repeat;
      display: none; }
    .site-panel-wrap .burger-wrap.opened .burger-body {
      left: 0; }
    .site-panel-wrap .burger-wrap.opened .burger-btn {
      display: none; }
    .site-panel-wrap .burger-wrap.opened .burger-close-btn {
      display: block; }
    .site-panel-wrap .burger-wrap .burger-body {
      position: fixed;
      top: 60px;
      left: 100%;
      transition: all .5s;
      width: 100%;
      background: #fff;
      height: calc(100vh - 60px);
      overflow-y: auto;
      padding: 15px 30px;
      display: flex;
      flex-direction: column; }
      @media all and (max-width: 768px) {
        .site-panel-wrap .burger-wrap .burger-body {
          top: 50px; } }

.burger_menu {
  margin-top: 25px;
  margin-bottom: auto; }
  .burger_menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .burger_menu ul li a {
      text-decoration: none;
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #0C0E1F;
      border-bottom: 4px solid #F7FF14;
      padding-bottom: 4px;
      margin-bottom: 20px;
      display: inline-block; }

.footer {
  margin-top: 70px; }
  @media all and (max-width: 1023px) {
    .footer {
      margin-top: 40px; } }
  .footer__top {
    display: flex;
    background: #fff; }
    @media all and (max-width: 768px) {
      .footer__top {
        flex-direction: column; } }
  .footer__l-side {
    width: 483px;
    padding: 83px 71px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    @media all and (max-width: 1023px) {
      .footer__l-side {
        width: 347px;
        padding: 40px 30px; } }
    @media all and (max-width: 768px) {
      .footer__l-side {
        width: 100%;
        padding: 40px 20px; } }
  .footer__logos {
    display: flex;
    align-items: center;
    text-decoration: none; }
  .footer__logo {
    display: block;
    text-decoration: none;
    margin-right: 45px; }
    @media all and (max-width: 1023px) {
      .footer__logo {
        margin-right: 15px;
        max-width: 28px;
        width: 100%; } }
    @media all and (max-width: 768px) {
      .footer__logo {
        max-width: 46px;
        width: 100%;
        margin-right: 20px; } }
  .footer__name {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .footer__name {
        font-size: 12px; } }
    @media all and (max-width: 768px) {
      .footer__name {
        font-size: 19px; } }
  .footer__subtit {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .footer__subtit {
        font-size: 12px; } }
    @media all and (max-width: 768px) {
      .footer__subtit {
        font-size: 14px; } }
  .footer__contacts {
    margin-left: auto; }
    @media all and (max-width: 768px) {
      .footer__contacts {
        margin-top: 35px;
        margin-bottom: 22px;
        text-align: left;
        margin-left: 0; } }
  .footer__tel {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #000000; }
    @media all and (max-width: 1023px) {
      .footer__tel {
        font-size: 14px; } }
    @media all and (max-width: 768px) {
      .footer__tel {
        font-size: 16px; } }
  .footer__addr {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #888888; }
    @media all and (max-width: 1023px) {
      .footer__addr {
        font-size: 14px; } }
    @media all and (max-width: 768px) {
      .footer__addr {
        font-size: 16px; } }
  .footer__button {
    font-family: 'onb', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    border: 1px solid #000000;
    padding: 14px 18px;
    position: relative;
    max-width: 212px;
    width: 100%;
    cursor: pointer;
    transition: all .3s ease-out; }
    .footer__button:before {
      position: absolute;
      content: '';
      width: 4px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      right: 22px;
      background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/4px no-repeat; }
    .footer__button:hover {
      background: #000;
      color: #fff; }
      .footer__button:hover:before {
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50%/4px no-repeat; }
    @media all and (max-width: 1023px) {
      .footer__button {
        margin-left: 0;
        max-width: 290px;
        order: 3; } }
  .footer__r-side {
    width: calc(100% - 483px);
    font-size: 0; }
    @media all and (max-width: 1023px) {
      .footer__r-side {
        width: calc(100% - 347px); } }
    @media all and (max-width: 768px) {
      .footer__r-side {
        width: 100%; } }
    @media all and (max-width: 1023px) {
      .footer__r-side iframe {
        height: 311px !important; } }
    @media all and (max-width: 768px) {
      .footer__r-side iframe {
        height: 124px !important; } }
  .footer__bottom {
    padding-bottom: 31px;
    padding-top: 36px;
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #888888; }
    @media all and (max-width: 768px) {
      .footer__bottom {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 28px;
        padding-top: 20px; } }

/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }
  .custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none; }
    .custom-checkbox + label:before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%; }
  .custom-checkbox:checked + label:before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }

.form_block {
  margin-top: 70px; }
  .form_block__in {
    background: url("../img/bg_form.jpg") 50%/cover no-repeat;
    padding: 55px 80px 65px 80px; }
  .form_block__item {
    margin-left: auto;
    max-width: 738px;
    width: 100%; }
  .form_block__title {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    text-transform: uppercase;
    color: #F7FF14;
    margin-bottom: 8px; }
  .form_block__text {
    font-family: 'on', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 40px; }
  .form_block__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .form_block__form input {
      height: 50px; }
      .form_block__form input[type="text"], .form_block__form input[type="tel"] {
        background: #FFFFFF;
        border: 1px solid #E5E6E6;
        padding: 15px 10px;
        font-family: 'on', sans-serif;
        font-style: normal;
        font-weight: 400;
        border: 0;
        border-radius: 0;
        font-size: 16px;
        color: #000000;
        width: calc(33% - 5px); }
        .form_block__form input[type="text"]::placeholder, .form_block__form input[type="tel"]::placeholder {
          font-family: 'on', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #000000; }
    .form_block__form button[type="submit"] {
      cursor: pointer;
      font-family: 'on', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      padding: 14px 18px;
      text-align: left;
      position: relative; }
      .form_block__form button[type="submit"]:before {
        content: '';
        width: 8px;
        height: 4px;
        background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
        top: 50%;
        right: 18px;
        margin-top: -2px; }
